.TopBanner {
  margin-bottom: 0.9375rem;
  position: relative;
}

.TopBanner-body p {
  text-transform: uppercase;
  font-weight: 700;
  font-size: .75rem;
  line-height: .875rem;
  text-align: center;
  margin: 0;
}

.header {
  background-image: linear-gradient(to right, #D7C2B4, #DAA598);
  padding: 0%;
  justify-content: center;
  background-size: cover;
  display: flex;
  margin-top: 0;
  width: 100%;

}

.container {
  max-width: 1200px;
  margin: auto;  
}

.navbar {
  list-style-type: none;
  position: sticky;
  top: 0%;
  left: 0%;
  right: 0%;
  justify-content: left;
  margin-left: 25px;
}

.container-fluid {
  margin-top: 15px;
  justify-content: center;
  margin-right: 20px;
}

.headerimg {
  width: 30px;
  height: 30px;
  align-items: end;
  margin-top: 5px;
  margin-right: 25px;
}

.welcome {
  height: 100px;
  background-image: url(../images/img24.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  margin-bottom: 20px;
}

.welcome-text-container {
  padding: 0%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.welcome-text-container h1 {
  font-size: 25px;
  font-weight: 700;
  margin-left: 25px;
  padding-top: 20px;
}
    
.Subscribe-container {
  font-size: 18px;
  color: white;
  display: flex;
  width: auto;
  height: auto;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.btn {
  background-color: #DAA598;
  color: white;
  border: 0;
  cursor: pointer;
  padding: auto;
  outline: 0;
  text-decoration: none;
  display: inline-block;
}
.btn:hover {
  background-color: #D7C2B4;
}
.card-body {
  justify-content: center;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

@media only screen and (min-width: 750px) { 
  .Shop-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
  }
}

.FAQ-welcome {
  height: 100px;
  background-image: url(img24.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  margin-bottom: 20px;
}

.accordion-item {
  padding: 0%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
  padding-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.FAQ-welcome h1 {
  font-size: 25px;
  font-weight: 700;
  margin-left: 25px;
  padding-top: 30px;
}

.Tips-container {
  display: grid;
  grid-template-columns: 5 1fr;
  text-align: center;
  align-items: center;
  margin-left: 20px;
}
.footer {
  background-image: linear-gradient(to right, #D7C2B4, #DAA598);
  background-size: cover;
  padding: 20px;
  display: flex;
  justify-content: left;
  bottom: 0;
  width: 100%;
  margin-top: 20px;
}

.text-footer {
  font-size: 14px;
  margin-left: 25px;
}

.footerimg {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: left;
  padding: 10px;
}
/*# sourceMappingURL=estilos.css.map */
