.Tips {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 90%;
	max-width: 1200px;
	margin: auto;
	padding: 40px 0;
}

.Tips-container {
    display: grid;
    grid-template-columns: 3 1fr;
    gap: 20px;
    width: 90%;
	max-width: 1500px;
	margin: auto;
	padding: 40px 0;
    height: auto;
}

.card .text-tips {
	height: 100%;
	padding: 20px 0;
}