.header {
    background-image: linear-gradient(to right, #D7C2B4, #DAA598);
    padding: 0%;
    justify-content: space-between;
    background-size: cover;
    display: flex;
    padding: 0px 40px;
    height: 120%;
}

.header-div-menu{
    @include centrar;
}

.menu{
    .button{
        color: black;
        
    }
}

.icons{
    @include centrar;
    font-size: 40px;
}

.button{
    i{
        font-size: 35px;
    }
}